nav ul{
    list-style: none;
    display:flex;
    justify-items: center;
}

nav{
    background-color: blueviolet;
}

ul li{
    padding: 8px;
    list-style: none;
    border: 19px solid black;
}


ul a{
    color: white;
    
}